name: CMake

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

defaults:
  run:
    shell: bash

jobs:
  build_and_test:
    name: Build & test TQMesh on ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix: 
        platform:
          - {name: windows - gcc,   os: windows-latest,    flags: -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -GNinja}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Add msbuild to PATH
      if: contains(matrix.platform.name, 'msvc')
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Add ninja to PATH
      if: contains(matrix.platform.name, 'windows') && !contains(matrix.platform.name, 'msvc')
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: Compile a release build of TQMesh
      run: |
        cmake -S . -B bin ${{ matrix.platform.flags }} -DCMAKE_BUILD_TYPE=$BUILD_TYPE
        cmake --build bin -j2
        cmake --install bin

    - name: Run all of TQMesh tests
      run: ./scripts/test_tqmesh.sh

